<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- *********************************************************** -->
    <!-- *  THIS IS THE LINKED PAGE WITH VISUALIZATIONS #2 and #3  * -->
    <!-- *********************************************************** -->

    <title>100 Largest Companies in the United States</title>
    <style>
        /* position the dropdown */
        .container {
          height: 100px;
          position: relative;
        } 
        .center {
          margin: 0;
          position: absolute;
          left: 42%;
        }
    </style>

    <!-- Plotly library -->
    <script src="https://cdn.plot.ly/plotly-2.20.0.min.js"></script>

     <!-- D3 library -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

</head>
<body style="background-color:lightblue;">
    <h1 style="text-align:center">The 100 Largest Companies in the United States</h1>
        <h2 style="text-align:center">Determined by Total Revenue Reported in 2022</h2>

    <div class="container">
        <div class="center">
            <!-- Interactive dropdown of all available stocks, so user can pick one to display -->
            <select id="selectingStock" onchange="optionchange(this.value)">
                <option value="">Select a company to view its stock price chart</option>
            </select>
        </div>
    </div>





    <tspan id="industryList"></tspan>



    <div id="plot"></div>

    <script>
        function stockNames(){
            var url = (`http://127.0.0.1:5000/api/v1.0/names`);
            d3.json(url).then(function(data) {
                // use D3 to write the dropdown of all available stocks
                let selector = d3.select("#selectingStock")
                for (i=0; i < data.length; i++){
                    selector.append("option").text(data[i].name).property("value",data[i].symbol)
                }
            })
        }

        function industries(){
            var url = (`http://127.0.0.1:5000/api/v1.0/industries`);
            d3.json(url).then(function(data) {
                // ********************************************************************************************
                // Read through all companies to compile a list by industry and all revenue for that industry.
                // Loop through every company's industry name and revenue. Then populate an industry name list
                // and a revenue list. If the industy name doesn't exist, write out the industry name and
                // revenue for that industry. If the industry name is already in the list, then add the
                // new revenue to the existing revenue.
                // ********************************************************************************************

                // initialize variables
                let revList=[]
                let indList=[]
                let industryFound = 'n'
                let revInt = 0
                // Loop through all the rows - every company (and it's industry and revenue data)
                for (i=0; i < data.length; i++){
                    // revenue data is stored abbreviated per million, so multiple by 1 million to get the true number
                    revInt = data[i].rev_usd_mil * 1000000
                    // Make sure rev value is always an integer
                    parseInt(revInt)
                    // Reset indicator
                    industryFound = 'n'
                    // For each company, loop through industry names list to see if that industry name has already been saved.
                    // If that industry has already been saved, add the revenue to the existing revenue entry.
                    // If that industry has not been saved, create a new entry in both the industry list and revenue list.
                    for (r=0; r < indList.length; r++){
                        if (indList[r] == data[i].industry & i > 0) {
                            // Industry is already in the list, so set indicator to 'yes'
                            industryFound = 'y'
                            // Industry name is already in the list so find its revenue entry and add this revenue to it
                            revList[r] = parseInt(revList[r]) + parseInt(revInt)
                            // Set r to 999 so it exits the loop.
                            r = 999
                        }
                    }
                    if (industryFound == 'n') {
                        // Industry was not already in the list so write a new entry for industry name and its revenue
                        revList.push(revInt)
                        indList.push(data[i].industry)
                    }
                }
                // Plotly bar chart - total revenue for each indutry
                var trace1 = {
                y: revList,
                x: indList,
                type: 'bar'
                };
                var chartData = [trace1];
                var layout = {
                title: 'Total Revenue Per Industry of the Top 100 Companies in 2022',
                xaxis: {
                    automargin: true
                    },
                showlegend: false,
                height: 600,
                autosize: true
                };
                Plotly.newPlot('plot', chartData, layout);
                
                })
        }

        function optionchange(stockSymbols){
            var url = (`http://127.0.0.1:5000/api/v1.0/${stockSymbols}`);
            d3.json(url).then(function(data) {
                // Getting a year's worth of stock data for the user-selected stock

                // initialize lists
                let dateList=[]
                let adjCloseList=[]
                // loop through the year of stock data and build lists
                for (i=0; i < data.length; i++){
                    // format the JSON date data into something readable
                    var myDate = new Date(data[i].date);
                    // build the lists for the line chart
                    dateList.push(myDate)
                    adjCloseList.push(data[i].adj_close)
                }
                // Plotly line chart - stock prices for the company that the user selected
                var trace1 = {
                    y: adjCloseList,
                    x: dateList,
                    mode: 'lines'
                };
                var data = [trace1];
                var layout = {
                    title: '2022 Closing Stock Prices',
                    showlegend: false,
                    height: 600,
                    autosize: true
                };
                Plotly.newPlot('plot', data, layout);
            })
                
        }

        industries()

        stockNames()

    </script>

</body>