<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.plot.ly/plotly-2.20.0.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>
<body>
    <h1>Hello</h1>
    <select id="selecting" onchange="optionchange(this.value)">
    </select>
    <script>
        function stockNames(){
            // alert(stockSymbols) 
            var url = (`http://127.0.0.1:5000/api/v1.0/names`);
            d3.json(url).then(function(data) {
                console.log(data)
                let selector = d3.select("#selecting")
                for (i=0; i<data.length;i++){
                    selector.append("option").text(data[i].name).property("value",data[i].symbol)
                }
            })
        }
        function optionchange(stockSymbols){
            // alert(stockSymbols) 
            var url = (`http://127.0.0.1:5000/api/v1.0/${stockSymbols}`);
            d3.json(url).then(function(data) {
                console.log(data)
            })
        }
        stockNames()
    </script>

</body>